<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 blockcontainer">
      <h1>Create Account</h1>

      <hr>

      <form action="/auth/signup" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input required type="text" class="form-control" id="firstName" name="firstName">
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input required type="text" class="form-control" id="lastName" name="lastName">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input required type="text" class="form-control" id="email" name="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input required type="password" class="form-control" id="password" name="password">
        </div>

        <div class="mb-3">
          <label for="profilePic" class="form-label">Profile picture</label>
          <input required type="file" class="form-control" id="profilePic" name="profilePic">
        </div>

        <div class="mb-3">
          <label for="addressLine1" class="form-label">Address Line 1</label>
          <input required type="text" class="form-control" id="addressLine1" name="addressLine1">
        </div>

        <div class="mb-3">
          <label for="addressLine2" class="form-label">Address Line 1</label>
          <input required type="text" class="form-control" id="addressLine2" name="addressLine2">
        </div>

        <div class="mb-3">
          <label for="couResidence" class="form-label">Country of Residence</label>
          <input required type="text" class="form-control" id="couResidence" name="couResidence">
        </div>

        <div class="mb-3">
          <label for="couCity" class="form-label">City</label>
          <input required type="text" class="form-control" id="couCity" name="couCity">
        </div>

        <div class="mb-3">
          <label for="postalCode" class="form-label">Postal Code</label>
          <input required type="text" class="form-control" id="postalCode" name="postalCode">
        </div>

        <button type="submit" class="btn btn-dark">Sign up</button>
        <a href="/" class="btn btn-dark">Go back</a>
      </form>
      <hr>
    </div>
  </div>
  <div>
    <p>
      {{errorMessage}}
    </p>
  </div>
</div>