body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.blockcontainer {
  border-color: grey;
  border-width: 5px;
  border-style: solid outset;  
}

.container {
  padding: 50px;  
}

.search-width {
  margin-left: 0.5rem;
  width: 60rem;
}

.category-width {
  width: 15rem;
}

.carousel-dimension {
  height:30rem;
}

