body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.blockcontainer {
  border-color: grey;
  border-width: 5px;
  border-style: solid;
  
}
