body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}

h1 {
  color: 15px;
}

.blockcontainer {
  border-color: grey;
  border-width: 5px;
  border-style: solid outset;  
}

.container {
  padding: 50px;  
}

.search-width {
  margin-left: 0.5rem;
  width: 60rem;
}

.category-width {
  width: 15rem;
}

.carousel-dimension {
  height:30rem;
}

table#checkoutlist {
  padding-top: 10ex;
  width:100%;
  border-collapse: collapse;
}

td, th {
  border: 1px dotted black; 
  padding: 0.75em 1em;
}

tr {
  font-weight: bolder;
  font-size: 12px;
}

.tr-header {
  color: blue;
  background-color: lightgrey;
}
.product-row {
  display : flex;
  padding : 10px;
  gap : 8px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.user-row {
  display : flex;
  padding : 10px;
  gap : 8px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.category-row {
  display : flex;
  padding : 10px;
  gap : 8px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.action-links {
  display: flex;
  align-items: center;
  gap: 8px;
}
.label-header {
  font-size: 1rem;
}

.lab-text {
  color: blue;
}

.button1-width {
  font-size: 0.2px;
  display: flex;
  flex-direction: row;
  
}

.carousel-align {
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: row;
}
.checkout-button {
  display:flex;
  flex-direction: column-reverse;
  align-items: center;
  border-color: black;
  border-width: 1px;
  border-style: dotted; 
  
}

.checkout-button:hover {
  color: blue;
}


