<table class="checkout">
    <tr>
        <td> Product desciption </td>
        <td> Price </td>
        <td> Quantity</td>
    </tr>
{{#each checkout}
<tr>
        <td> {{this.prodName}} </td>
        <td> {{this.prodPrice}} </td>
        <td> {{this.prodQuantity}} </td>
</tr>

{{/each}}
</table>
<div id="footer">
Total Price is {{total_price}} <br>

</div>