<table class="checkout">
    <tr>
        <td> Product desciption </td>
        <td> Price </td>
        <td> Quantity</td>
    </tr>
{{#each checkoutitem}}
<tr>
        <td> {{prodDesc}} </td>
        <td> {{prodPrice}} </td>
        <td> {{quantity}} </td>
</tr>

{{/each}}
</table>
<div id="footer">
Total Price is {{total_price}} <br>

<a href="/fetchproducts"> Click here to go back to the products page </a>
</div>