<h1>Product's List</h1>
<nav class="navbar bg-light">
    <div class="container-fluid">
      
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>

            <form class="d-flex" role="search"></form>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        
    </div>
</nav>

<div class="row">
    {{#each products}}
    <div class="card col-3" style="width: 18rem;">
        <img src="{{this.prodImage}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.prodName}}</h5>
            <p class="card-text">Price : {{this.prodPrice}}</p>
            <a href="/products/{{this.id}}/edit" class="btn btn-primary">Edit Products</a>
        </div>
    </div>
    {{/each}}
</div>